PORT=8080
DATABASE_URL=postgres://user:pass@localhost:5432/tutora?sslmode=disable
DATABASE_SCHEMA=schema
JWT_SECRET=key
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
APPLE_BUNDLE_ID=com.yourcompany.tutora
PAYLOAD_ENCRYPTION_KEY=key

# OCI S3-compatible Object Storage Config
OCI_S3_ACCESS_KEY_ID=your_oci_customer_access_key_id
OCI_S3_SECRET_ACCESS_KEY=your_oci_customer_secret_access_key
OCI_S3_REGION=ap-singapore-1
OCI_S3_BUCKET_NAME=your_oci_bucket_name
OCI_S3_ENDPOINT=https://your_oci_namespace.compat.objectstorage.ap-singapore-1.oraclecloud.com

